input[type="radio"]:checked, .fake-radio-input--checked {
    background-color: black;
  }
  
  .gg-c-radio__label {
    position: relative;
    margin-top: 8px;
    display: block;
  }
  
  .gg-c-radio__input {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    left: 12px;
    appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: solid 2px black;
    padding: 2px;
    background-clip: content-box;
  }

  .fake-radio-input {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 2px black;
    padding: 3px;
    background-clip: content-box;
    margin-right: 16px;
    align-self: start;
    margin-top: 2px;
  }
  
  .gg-c-radio__input:focus {
    outline: 0;
    box-shadow: #35ADCE 0 0 0 2px;
  }
  
  .gg-c-radio__input:checked + .gg-c-radio__text, .fake-radio--checked {
    border: solid 2px black;
    outline: solid 2px black;
    outline-offset: -4px;
  }
  
  .gg-c-radio__text {
    padding-left: 44px;
    display: flex;
    border: solid 2px #d0d0d0;
    min-height: 48px;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 700;
  }
  
