.gg-c-password {
    position: relative;
}

.gg-c-password__input {
    appearance: none;
    padding-right: 44px;
}

.gg-c-password__button {
    width: 40px;
    position: absolute;
    right: 4px;
    display: flex;
    height: 40px;
    top: 0;
}

.gg-c-password__icon {
    width: 80%;
    margin: auto;
}