input[type="radio"]:checked {
    background-color: black;
  }
  
  input[type="radio"].blue:checked {
    background-color: #35ADCE;
  }
  
  input[type="radio"].otherblue:checked {
    background-color: #00528A;
  }
  
  input[type="radio"].pink:checked {
    background-color: #EB5F8E;
  }
  
  input[type="radio"].green:checked {
    background-color: #72B72A;
  }
  
  .gg-c-radio__label {
    position: relative;
    margin-top: 4px;
    display: block;
  }
  
  .gg-c-radio__input {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    left: 8px;
    appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 2px black;
    padding: 2px;
    background-clip: content-box;
  }
  
  .gg-c-radio__input:focus {
    outline: 0;
    box-shadow: #35ADCE 0 0 0 2px;
  }
  
  .gg-c-radio__input:checked + .gg-c-radio__text {
    border: solid 2px black;
    outline: solid 2px black;
    outline-offset: -4px;
  }
  
  .gg-c-radio__text {
    padding-left: 50px;
    display: flex;
    border: solid 2px grey;
    min-height: 48px;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .gg-c-radio__legend {
    margin-bottom: 4px;
  }
  
  //testing out width
  
  .width .gg-c-radio__text {
    padding-right: 16px;
  }
  
  .width {
    width: max-content;
    max-width: 100%;
  }